<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.scm.uc.dao.mapper.ItgRoleListMapper" >
  <resultMap id="BaseResultMap" type="com.hc.scm.uc.dao.entity.ItgRoleList" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="enable_flag" property="enableFlag" jdbcType="INTEGER" />
    <result column="role_owner" property="roleOwner" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_id, role_name,project_code, enable_flag, role_owner, order_no, creator, create_time, modifier, 
    modify_time, remarks
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.roleName and ''!=params.roleName" >
        and role_name like concat('%',#{params.roleName},'%')
      </if>
      <if test="null!=params.projectCode and ''!=params.projectCode" >
        and project_code like concat('%',#{params.projectCode},'%')
      </if>
      <if test="null!=params.enableFlag and ''!=params.enableFlag" >
        and enable_flag= #{params.enableFlag}
      </if>
      <if test="null!=params.roleOwner and ''!=params.roleOwner" >
        and role_owner like concat('%',#{params.roleOwner},'%')
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM itg_role_list
    WHERE role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM itg_role_list WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM itg_role_list WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM itg_role_list WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM itg_role_list
    WHERE role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.hc.scm.uc.dao.entity.ItgRoleList" >
    DELETE FROM itg_role_list
    WHERE role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hc.scm.uc.dao.entity.ItgRoleList" >
    INSERT INTO itg_role_list (role_id, role_name,project_code, enable_flag, 
      role_owner, order_no, creator, 
      create_time, modifier, modify_time, 
      remarks)
    VALUES (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR},#{projectCode,jdbcType=VARCHAR}, #{enableFlag,jdbcType=INTEGER}, 
      #{roleOwner,jdbcType=VARCHAR}, #{orderNo,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hc.scm.uc.dao.entity.ItgRoleList" >
    INSERT INTO itg_role_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <!-- <if test="roleId != null" >
        role_id,
      </if> -->
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="enableFlag != null" >
        enable_flag,
      </if>
      <if test="roleOwner != null" >
        role_owner,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <!-- <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if> -->
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="enableFlag != null" >
        #{enableFlag,jdbcType=INTEGER},
      </if>
      <if test="roleOwner != null" >
        #{roleOwner,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hc.scm.uc.dao.entity.ItgRoleList" >
    UPDATE itg_role_list
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        project_code = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="enableFlag != null" >
        enable_flag = #{enableFlag,jdbcType=INTEGER},
      </if>
      <if test="roleOwner != null" >
        role_owner = #{roleOwner,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hc.scm.uc.dao.entity.ItgRoleList" >
    UPDATE itg_role_list
    SET role_name = #{roleName,jdbcType=VARCHAR},
      project_code = #{projectCode,jdbcType=VARCHAR},
      enable_flag = #{enableFlag,jdbcType=INTEGER},
      role_owner = #{roleOwner,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR}
    WHERE role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>